.overall1  {
  margin-top: 1%;
  margin-left: 38%;
}

#english{
  margin-right: 2%;
}

#thai{
  margin-right: 2%;
}

#price{
  margin-right: 2%;
  width: 5%;
}

#description{
  margin-right: 2%;
  width: 40%;
}
