.topnav {
  width: 92%;
  position: sticky;
  margin-left: -20%;
  margin-bottom: 1%;
  overflow: hidden;
  background-color: #618274;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 2% 0%;
  text-decoration: none;
  font-size: 17px;
}

#BigText{
  margin-left: -20%;
}

#StoreSelect{
 margin-left: -20%;
 margin-bottom: 4%;
}


#a1{
  margin-left: 5%;
}

#a2{
  margin-left: 14%;
}

#a3{
  margin-left: 16%;
}

#a4{
  margin-left: 4%;
}
